<configuration>

    <!-- Консольный аппендер для вывода логов в консоль -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %level - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Аппендер для записи логов в файл -->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>logs/myapp.log</file> <!-- Указываем путь к файлу для логов -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %level - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Логирование на корневом уровне, вывод логов в консоль и файл -->
    <root level="DEBUG">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

    <!-- Логирование для Spring -->
    <logger name="org.springframework" level="INFO" />
    <logger name="org.hibernate" level="INFO" />
</configuration>
