* {
    background-color: #000;
    color: #FFD700; /* Золотисто-жёлтый */
    font-family: Arial, sans-serif;
}

a {
    color: #FFCC00;
    text-decoration: none;
}

a:hover {
    color: #FFA500;
}

button {
    background-color: #333;
    color: #FFD700;
    border: 1px solid #FFD700;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.movies {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.movie-div {
    width: calc(23.33% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background: #6c7160;
    padding: 10px;
}

.movie-div img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.movie-div p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
}

select#genres option.selected {
    background-color: blue;
    color: white;
}

.nav__links {
    display: flex;
    flex-direction: row;
    gap: 10px;

    list-style: none;

    overflow: auto;
}

button.btnDltComment.usersComment {
    display: block;
}
.btnDltComment {
    scale: 25%;
}

img.poster{
    max-width: 15%;
}