<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity" lang="en">

<head>
    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <title>Home</title>
</head>
<body>
<div th:replace="~{fragments/header :: div}"></div>
<h2>Personal profile</h2>
<p>Username: <span sec:authentication="name"></span></p>
<div sec:authorize="hasRole('ROLE_ADMIN')">You are an admin.</div>
<p>Your email: <span sec:authentication="principal.email"></span></p>
<a th:href="@{/change_profile}"><button>Change your personal information</button></a>
<p><a th:href="@{/watched}">My watched movies</a></p>
</body>
</html>
