<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--    <link rel="stylesheet" th:href="@{/css/styles_base.css}">-->
    <script th:src="@{/static/js/register.js}" defer></script>
    <title>User Registration</title>
</head>
<body>

<div class="registration-container">
    <h1>Register</h1>
    <p>Already have an account? <a href="/login">Login here</a></p>
    <br>
    <form id="registerForm">

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="You will need it to log in" required>
        <br>

        <p>Please be note that You will have to confirm this email</p>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter email" required th:value="${email}">
        <br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter password" required>
        <br>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" required>
        <br>

        <button id="btnSubmit" type="submit">Register</button>
    </form>
</div>

</body>
</html>
